{% extends 'reviews/base.html' %}

{% block title %}Review Detail{% endblock title %}

{% block content %}
    <a href="{% url 'reviews' %}">All Reviews</a>
    <h1>{{ review.username }}</h1>
    <p>{{ review.review_text }}</p>
    <p>{{ review.rating }}</p>
    {% if is_favorite %}
        <p>This is my favorite review!</p>
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <button>Favorite</button>
        </form>
    {% endif %}
{% endblock content %}
